* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h4 {
    letter-spacing: 1px;
    font-size: 16px;
}

h3 {
    font-size: 20px;
}

.round-img img {
    border-radius: 50%;
}

i:hover {
    cursor: pointer;
}

.background {
    height: 100vh;
}

.top-bcg {
    height: 125px;
    background-color: #00A093;
}

.bottom-bcg {
    background-color: #DCE0DB;
    height: calc(100vh - 125px);
}

.container {
    display: flex;
    position: absolute;
    top: 5vh;
    left: 10%;
    width: 80%;
    height: 90vh;
}

.list-user {
    width: 35%;
    overflow-y: hidden;
}

.img-profile-options {
    height: 90px;
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.right-icons i {
    font-size: 25px;
    color: #BABABA;
    padding: 0 12px;
}

.notifications {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #99DFFC;
    padding-left: 15px;

}

.bell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
}

.notifications i {
    font-size: 22px;
    color: #99DFFC;
    padding: 15px;
    border-radius: 50%;
}

.notif-text {
    padding-left: 15px;
}

.notif-text p {
    padding-top: 3px;
    text-decoration: underline;
    color: #6794A8;
    font-weight: 600;
}

.notif-text p:hover {
    cursor: pointer;
}

.search-bar {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 7px;
    background-color: #FBFBFB;
    height: 50px;
}

.search-bar i {
    color: #BEC1C3;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 12px;
}

.search-bar input {
    padding: 7px 5px;
    width: 100%;
}

.recent-chat {
    background-color: #FFFFFF;
    height: calc(100vh - 5vh - 90px - 90px - 50px - 5vh); /* per calcolare l'altezza per lo scroll sottraggo i 10vh del top e bottom e i 90px dei div */
    overflow-y: auto;
}

.user:hover {
    background-color: #ECEEEE;
}

.user {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.img-time {
    display: flex;
    align-items: center;
}

.img-profile {
    padding: 15px 20px;
}

.name-recent-user p {
    color: #BEC1C3;
    padding-top: 5px;
}

.last-chat-user p {
    padding-top: 25px;
    padding-right: 15px;
    color: #CFD1D3;
}



.chat {
    width: 65%;
    background-image: url('../img/background.png');  /* da rimuovere */
}

.top-user-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #EDEDED;
    padding-right: 15px;
    border-left: 1px solid lightgray;
}

.bold p {
    font-weight: 700;
    color: #878E91;
}






/*  */
