* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* gesione stile generale dell 'input' */

input:focus {
    outline:none;
}

input {
    border: none;
    border-radius: 10px;
    letter-spacing: 1px;
}
/* fine */

body, input {
    font-family: 'Lato', sans-serif;
}

h4 {
    letter-spacing: 1px;
    font-size: 16px;
}

h3 {
    font-size: 20px;
}

.round-img img {    /* Faccio in modo che le immagini siano un cerchio */
    border-radius: 50%;
}

i:hover {
    cursor: pointer;
}

/* Stile sfondo pagina */
.background {
    height: 100vh;
}

.top-bcg {
    height: 125px;
    background-color: #00A093;
}

.bottom-bcg {
    background-color: #DCE0DB;
    height: calc(100vh - 125px);
}
/* fine */

.container {
    display: flex;
    position: absolute;
    top: 5vh;
    left: 10%;
    width: 80%;
    height: 90vh;
}

/* stile per parte sinistra della pagina */
.list-user {
    width: 35%;
    overflow-y: hidden;
}

.img-profile-options {
    height: 90px;
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.right-icons i {
    font-size: 25px;
    color: #BABABA;
    padding: 0 12px;
}

.notifications {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #99DFFC;
    padding-left: 15px;

}

.bell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
}

.notifications i {
    font-size: 22px;
    color: #99DFFC;
    padding: 15px;
    border-radius: 50%;
}

.notif-text {
    padding-left: 15px;
}

.notif-text p {
    padding-top: 3px;
    text-decoration: underline;
    color: #6794A8;
    font-weight: 600;
}

.notif-text p:hover {
    cursor: pointer;
}

.search-bar {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 7px;
    background-color: #FBFBFB;
    height: 50px;
}

.search-bar i {
    color: #BEC1C3;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 12px;
}

.search-bar input {
    padding: 7px 5px 7px 15px;
    width: 100%;
}

.recent-chat {
    background-color: #FFFFFF;
    height: calc(100vh - 5vh - 90px - 90px - 50px - 5vh); /* per calcolare l'altezza per lo scroll sottraggo i 10vh del top e bottom e i 90px dei div: 'image-profile-options' e 'notifications' nonche' i 50px del div 'search-bar' */
    overflow-y: auto;
}

.username:hover {
    background-color: #ECEEEE;
    cursor: pointer;
}

.username {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.img-time {
    display: flex;
    align-items: center;
}

.img-profile {
    padding: 15px 20px;
}

.img-profile img {
    height: 65px;
    width: 65px;
}

.name-recent-user p {
    color: #BEC1C3;
    padding-top: 5px;
}

.last-chat-user p {
    padding-top: 25px;
    padding-right: 15px;
    color: #CFD1D3;
}
/* fine stile parte sinistra pagina (.list-user) */


/* inizio stile parte destra pagina (.chat) */
.chat {
    position: relative;
    width: 65%;
    background-image: url('../img/background.png');  /* da rimuovere */
}

.top-user-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #EDEDED;
    padding-right: 15px;
    border-left: 1px solid lightgray;
}

#left-icon-resp {
    font-size: 25px;
    color: #BABABA;
    padding: 0 12px;
    display: none;
}

.bold p {
    font-weight: 700;
    color: #878E91;
}

.center-chat {
    display: flex;
    flex-direction: column;
    height: calc(100% - 90px - 80px);
    padding: 50px 100px 0 100px;
    overflow-y: auto;
}

.box-message-sent, .template-box-message-sent {
    align-self: flex-end;
}

.box-message-received, .template-box-message-received {
    align-self: flex-start;
}

.message-sent, .template-message-sent {
    position: relative;
    padding: 20px 15px;
    border-radius: 15px;
    background-color: #DAFAC2;
    align-self: flex-end;
    margin-bottom: 15px;
}

.message-received, .template-message-received {
    position: relative;
    padding: 20px 15px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 15px;
    align-self: flex-start;
}

.message-sent i, .message-received i, .template-message-received i, .template-message-sent i {
    /* display: none; */
    font-size: 20px;
    position: absolute;
    top: 30%;
    right: 5px;
}

.message-sent:hover + i {
    display: block;
}

.delete-message {
    text-align: center;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 115%;
    right: 0;
    z-index: 9999;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 25px;
    border-radius: 20px;
}


.template-box-message-sent, .template-box-message-received {
    display: none;
    margin-bottom: 15px;
}

.bottom-chat-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 80px;
    background-color: #F4F0ED;
    width: 100%;
}

.fa-smile, .fa-microphone {
    color: #767E81;
    font-size: 30px;
    padding: 15px;
}

.fa-paper-plane {
    color: #767E81;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 15px;
}

.bottom-chat-container input {
    width: 85%;
    padding: 15px 0 15px 15px;
    border: none;
    border-radius: 5px;
}

#message {
    border-radius: 15px;
    /* margin-right: 15px; */
}

.not-active {
    display: none;
}

.active {   /* questa classe serve per visualizzare le chat dell'utente quando richiesto */

}

.visible {
    display: block;
}
/* fine stile parte destra pagina (.chat) */

@media screen and (min-width: 993px) {

    .center-chat {
        padding: 50px 100px 0 100px;
    }

    .list-user {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .center-chat {
        padding: 50px 50px 0 50px;
    }

    .message-received, .message-sent, .template-message-sent, .template-message-received {
        padding: 15px 10px;
    }

    .message-received h3, .message-sent h3, .template-message-sent h3, .template-message-received h3 {
        font-size: 18px;
    }

}

@media screen and (max-width: 768px) {

    .center-chat {
        height: calc(100% - 90px - 80px);
        padding: 20px 20px 0 20px;
    }

    .message-received, .message-sent, .template-message-sent, .template-message-received {
        padding: 12px 8px;
    }

    .message-received h3, .message-sent h3, .template-message-sent h3, .template-message-received h3 {
        font-size: 16px;
    }

}

@media screen and (max-width: 992px) {

    .top-user-chat {
        justify-content: space-around;
    }

    #left-icon-resp {
        display: block;
    }

    .notifications {
        display: none;
    }

    .recent-chat {
        background-color: #FFFFFF;
        height: calc(100vh - 90px - 50px);
        overflow-y: auto;
    }

    .list-user {
        width: 100%;
        height: 100%;
    }

    .chat {
        width: 100%;
        display: none;
    }


    .name-recent-user p {
        font-size: 12px;
    }

    .name-recent-user h2 {
        font-size: 18px;
    }

    .fa-search, .fa-paperclip {
        display: none;
    }


    .bottom-chat-container i {
        padding: 10px;
        font-size: 20px;
    }

    .container {
        display: flex;
        position: absolute;
        top: 0vh;
        left: 0%;
        width: 100%;
        height: 100vh;
    }

    .visible {
        display: block;
    }
}
